* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background: #eff2f1;
  margin: 50px;
  padding: 50px;
  border-radius: 10px;
}

h1 {
  font-size: 40px;
}

a {
  text-decoration: none;
}

.btn {
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  background-color: #5a007c;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

#new-form {
  display: inline-block;
  margin-top: 50px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
}

main {
  background: #eff2f1;
  margin: 50px;
  padding: 50px;
  border-radius: 10px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;

  font-weight: 500;
}

.answer {
  margin-right: 10px;
}
