* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  background: #eff2f1;
  margin: 50px;
  padding: 50px;
  border-radius: 10px;
}

h1 {
  font-size: 40px;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  background-color: #5a007c;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

#new-form {
  margin-top: 50px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
}

main {
  background: #eff2f1;
  margin: 50px;
  padding: 50px;
  border-radius: 10px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;

  font-weight: 500;
}

a.answer {
  margin-right: 10px;
}

/* página de respostas */
.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 30px;

  background: #fff;
  border-radius: 10px;
}

.question-container .question {
  flex: 1;
}

.question-container .answer {
  flex: 1;
}

.return a {
  margin-top: 50px;
}

/* página de criação de questionário */
#form-creation input {
  border: 0;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  padding: 20px;
  width: 60%;
}

#form-title {
  width: 100% !important;
  font-size: 32px;
}

.single-question {
	margin-top: 20px;
}

.btn-container {
	margin-top: 20px;
}